[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connectorx = "*"
duckdb = "0.9.2"
pandas = "*"
polars = {extras = ["pyarrow"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
pyodbc = "*"
python-dotenv = "*"
pyyaml = "*"
sqlalchemy = "*"

[dev-packages]
bump-pydantic = "*"

[requires]
python_version = "3.11"
