[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pyodbc = "*"
pyyaml = "*"
python-dotenv = "*"
pandas = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
bump-pydantic = "*"

[requires]
python_version = "3.11"
